
h1 {
	font-family: Bitter, Open Sans;
	text-align: center;
}

body {
	padding-left: 2cm;
	padding-right: 2cm;
	background-color: rgb(240, 187, 42);
	font-size: 15px;
	font-family: Bitter, Open Sans;
}


#picture2 {
	padding-left: 2cm;
}